#mainheaderTitle{
    margin: none;
    background-color: black;
    text-decoration-color: white;
    color: white;
    width: 120%;
}
header{
    width: 120%;
    background-size: cover;
}
body{
    margin: 0px;
    width: 120%;
    padding:0px;
}